NODE_ENV=production
BOT_PREFIX=!
SESSION_DIR=./session
SHERLOCK_CMD=./.venv/bin/sherlock
SHERLOCK_WORKDIR=./runtime
SHERLOCK_TIMEOUT_MS=180000
SHERLOCK_MAX_OUTPUT_CHARS=3500
HOLEHE_CMD=./.venv/bin/holehe
HOLEHE_WORKDIR=./runtime/holehe
HOLEHE_TIMEOUT_MS=180000
HOLEHE_MAX_OUTPUT_CHARS=3500
MAIGRET_CMD=./.venv/bin/maigret
MAIGRET_WORKDIR=./runtime/maigret
MAIGRET_TIMEOUT_MS=180000
MAIGRET_MAX_OUTPUT_CHARS=3500
THEHARVESTER_CMD=./.venv/bin/theHarvester
THEHARVESTER_WORKDIR=./runtime/theharvester
THEHARVESTER_TIMEOUT_MS=180000
THEHARVESTER_MAX_OUTPUT_CHARS=3500
INFOGA_CMD=./.venv/bin/infoga
INFOGA_WORKDIR=./runtime/infoga
INFOGA_TIMEOUT_MS=180000
INFOGA_MAX_OUTPUT_CHARS=3500
WHATSAPP_SEND_QR_TO_TERMINAL=true
WHATSAPP_OWNER_JID=628xxxxxxxxxx@s.whatsapp.net
